@use '../../assets/scss/_variables';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.pay-later-widget {
    background: variables.$primary-color;
    position: relative;
    padding: 8px;
    border-radius: 5px;
    max-width: 400px;
    overflow: hidden;
    &.loading {
        .loader {
            display: block;
        }
    }
    p,
    span {
        color: variables.$text-color;
    }
}

.pay-later-logo {
    float: right;
    margin: -8px;
}
