* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.pay-later-wrapper {
    position: relative;
    background: gray;
    padding: 10px;
    border-radius: 5px;
    max-width: 500px;
    overflow: hidden;
    &.loading {
        .loader {display: block;}
    }
}

.loader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
}